Intune/Win32Apps/WinSCP/Config/DEV_TEST_WorkforceData_TKM_HUD.ppk
Intune/Win32Apps/WinSCP/Config/winSCP_All.ini
Intune/Win32Apps/WinSCP/Config/PROD_tkm_connector_id_rsa.ppk
Intune/Win32Apps/WinSCP/Installer/WinSCP-6.1.2-Setup.exe
Intune/Win32Apps/WinSCP/Config/winSCP_Workforce_Data.ini
Intune/Win32Apps/WinSCP/Config/winSCP_SecurePass.ini
